.u-section-1 {
  min-height: 897px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-image-1 {
  min-height: 895px;
  background-image: url("images/c7f485e2-1d91-4093-5c15-b470460280dd.jpg.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 662px;
  height: 662px;
  background-image: url("images/8a8bc818-138b-799a-591f-d3313aa70008.png");
  background-position: 50% 50%;
  margin: 50px auto 0 83px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 895px;
  background-image: linear-gradient(to right, #424993, #1a5388);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 355px;
  height: 355px;
  margin: 216px 3px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 41px;
  height: 31px;
  margin: -343px 106px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 202px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 273px 25px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 24px;
  height: 24px;
  margin: -5px 3px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 757px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 672px;
  }

  .u-section-1 .u-image-2 {
    width: 612px;
    height: 612px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-1 .u-image-3 {
    width: 236px;
    height: 236px;
    margin-right: 18px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -242px;
    margin-right: 67px;
  }

  .u-section-1 .u-line-1 {
    height: 5px;
    margin-top: 186px;
    margin-right: 18px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-2 {
    width: 462px;
    height: 462px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-1 .u-image-3 {
    width: 199px;
    height: 199px;
    margin-top: 145px;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -209px;
    margin-right: 59px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 157px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1657px;
  }

  .u-section-1 .u-image-1 {
    min-height: 620px;
    animation-duration: 1000ms;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1338px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
    margin-left: 221px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -76px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-image-1 {
    min-height: 474px;
  }

  .u-section-1 .u-image-2 {
    width: 330px;
    height: 330px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 131px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 324px;
}

.u-section-2 .u-image-1 {
  width: 387px;
  height: 322px;
  object-position: 100% 50%;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: -196px 296px 0 94px;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-style: italic;
  margin: -271px 306px 60px 103px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 190px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 206px;
    margin-left: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 44px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 282px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -156px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 31px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 889px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1129px;
  margin: 1px auto 1px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 888px;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 0 30px 35px;
}

.u-section-3 .u-image-1 {
  width: 547px;
  height: 221px;
  margin: -10px 307px 0 auto;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.875rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: -191px 436px 0 369px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 130px auto 0 407px;
  padding: 10px 52px 10px 51px;
}

.u-section-3 .u-group-1 {
  width: 239px;
  min-height: 63px;
  margin: 41px auto 0 55px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -2px -18px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: -45px 698px 0 324px;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -28px 547px 0 451px;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: -28px 396px 0 602px;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -28px 238px 0 753px;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: -28px 108px 0 914px;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: 65px 108px 0 866px;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: -28px 258px 0 716px;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: -28px 408px 0 614px;
}

.u-section-3 .u-btn-9 {
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  margin: -28px 510px 0 457px;
}

.u-section-3 .u-btn-10 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  width: 239px;
  min-height: 63px;
  margin: -45px auto 0 55px;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -2px -29px 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  margin: -45px 667px 0 324px;
}

.u-section-3 .u-btn-11 {
  padding: 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  margin: 65px 659px 0 324px;
}

.u-section-3 .u-btn-12 {
  padding: 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  margin: -28px 426px 0 493px;
}

.u-section-3 .u-btn-13 {
  padding: 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.5rem;
  margin: -28px 139px 0 726px;
}

.u-section-3 .u-btn-14 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  width: 239px;
  min-height: 63px;
  margin: -45px auto 0 55px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 121px;
  margin: -2px auto 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  margin: 47px 713px 0 324px;
}

.u-section-3 .u-btn-15 {
  padding: 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.5rem;
  margin: -28px 619px 0 417px;
}

.u-section-3 .u-btn-16 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  width: 239px;
  min-height: 63px;
  margin: -45px auto 0 55px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-20 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 157px;
  margin: -2px auto 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.5rem;
  margin: 47px 713px 0 324px;
}

.u-section-3 .u-btn-17 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  width: 239px;
  min-height: 63px;
  margin: -45px auto 0 55px;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-22 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 120px;
  margin: -2px auto 0;
}

.u-section-3 .u-text-23 {
  font-size: 1.5rem;
  margin: 47px 674px 0 324px;
}

.u-section-3 .u-btn-18 {
  padding: 0;
}

.u-section-3 .u-group-6 {
  width: 239px;
  min-height: 63px;
  margin: -45px auto 0 55px;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 30px 0;
}

.u-section-3 .u-text-24 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 134px;
  margin: -2px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 739px;
  }

  .u-section-3 .u-image-1 {
    width: 529px;
    height: 214px;
    margin-top: 86px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.6875rem;
    width: 409px;
    margin-top: -289px;
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 218px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 493px;
    margin-left: 217px;
  }

  .u-section-3 .u-text-3 {
    width: 72px;
    height: 28px;
    margin-top: 673px;
    margin-right: 604px;
    margin-left: 326px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -569px;
    margin-right: 453px;
    margin-left: 373px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -40px;
    margin-right: 328px;
    margin-left: 508px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -39px;
    margin-right: 182px;
    margin-left: 658px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 90px;
    margin-left: 820px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -179px;
    margin-right: 90px;
    margin-left: 771px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 43px;
    margin-right: 214px;
    margin-left: 622px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 225px;
    margin-left: 508px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 416px;
    margin-left: 378px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -275px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 493px;
    margin-left: 217px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 573px;
    margin-left: 268px;
  }

  .u-section-3 .u-text-14 {
    width: 72px;
    height: 28px;
    margin-top: 770px;
    margin-right: 526px;
    margin-left: 268px;
  }

  .u-section-3 .u-text-15 {
    height: 28px;
    margin-right: 331px;
    margin-left: 398px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 45px;
    margin-left: 632px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -771px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 493px;
    margin-left: 217px;
  }

  .u-section-3 .u-text-18 {
    width: 72px;
    height: 28px;
    margin-top: 773px;
    margin-right: 618px;
    margin-left: 268px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 525px;
    margin-left: 323px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -678px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 493px;
    margin-left: 217px;
  }

  .u-section-3 .u-text-21 {
    width: 72px;
    height: 28px;
    margin-top: 680px;
    margin-right: 618px;
    margin-left: 268px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -585px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 493px;
    margin-left: 217px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 587px;
    margin-right: 580px;
    margin-left: 268px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -585px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 493px;
    margin-left: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 402px;
    height: 163px;
    margin-top: -127px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 402px;
    margin-top: -25px;
    margin-right: 300px;
    margin-left: 265px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 386px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 497px;
    margin-left: 249px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 346px;
    margin-left: 284px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 250px;
    margin-left: 401px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 139px;
    margin-left: 551px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 69px;
    margin-left: 619px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 69px;
    margin-left: 570px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 163px;
    margin-left: 515px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 172px;
    margin-left: 387px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 309px;
    margin-left: 288px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 386px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 466px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 686px;
    margin-right: 375px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 224px;
    margin-left: 291px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
    margin-left: 462px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -687px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 386px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-18 {
    margin-top: 689px;
    margin-right: 511px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 418px;
    margin-left: 216px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -594px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 386px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-21 {
    margin-top: 596px;
    margin-right: 511px;
    margin-left: 204px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -501px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 386px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 503px;
    margin-right: 473px;
    margin-left: 204px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -501px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 386px;
    margin-left: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -63px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -89px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 306px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 417px;
    margin-left: 191px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 266px;
    margin-left: 218px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 192px;
    margin-left: 321px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 107px;
    margin-left: 428px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 53px;
    margin-left: 459px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 53px;
    margin-left: 410px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 125px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 132px;
    margin-left: 297px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 229px;
    margin-left: 221px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 306px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 386px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 630px;
    margin-right: 262px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 144px;
    margin-left: 211px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 302px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -631px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 306px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-18 {
    margin-top: 633px;
    margin-right: 431px;
    margin-left: 157px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 338px;
    margin-left: 136px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -538px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 306px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-21 {
    margin-top: 540px;
    margin-right: 431px;
    margin-left: 157px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -445px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 306px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 447px;
    margin-right: 393px;
    margin-left: 157px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -445px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 306px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 25px;
    padding-right: 75px;
  }

  .u-section-3 .u-image-1 {
    width: 330px;
    height: 134px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 330px;
    margin-top: -163px;
    margin-right: 200px;
    margin-left: 165px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 481px;
    margin-right: 260px;
    margin-left: 119px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -369px;
    margin-right: 166px;
    margin-left: 136px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -28px;
    margin-right: 120px;
    margin-left: 221px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -31px;
    margin-right: 67px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 33px;
    margin-left: 259px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 179px;
    margin-right: 33px;
    margin-left: 210px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -28px;
    margin-right: 78px;
    margin-left: 212px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -29px;
    margin-right: 82px;
    margin-left: 185px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -55px;
    margin-right: 129px;
    margin-left: 138px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -197px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 229px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 189px;
    margin-right: 121px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 44px;
    margin-left: 111px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 102px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -45px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-3 .u-text-18 {
    margin-top: 47px;
    margin-right: 273px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 238px;
    margin-left: 36px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 48px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-3 .u-text-21 {
    margin-top: -46px;
    margin-right: 273px;
    margin-left: 98px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 141px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-3 .u-text-23 {
    margin-top: -139px;
    margin-right: 236px;
    margin-left: 98px;
  }

  .u-section-3 .u-group-6 {
    margin-top: 141px;
  }

  .u-section-3 .u-text-24 {
    margin-right: 136px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 889px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1129px;
  margin: 1px 11px 1px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 888px;
}

.u-section-4 .u-container-layout-1 {
  padding: 25px 0 0 35px;
}

.u-section-4 .u-image-1 {
  width: 547px;
  height: 221px;
  margin: -10px auto 0 256px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 1.875rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: -191px 420px 0 385px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 130px auto 0 423px;
  padding: 10px 52px 10px 51px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 77px auto 0 113px;
  padding: 10px 98px 10px 97px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -68px auto 0 627px;
  padding: 10px 98px 10px 97px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 82px auto 0 113px;
  padding: 10px 98px 10px 97px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -68px auto 0 627px;
  padding: 10px 98px 10px 97px;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 82px auto 0 113px;
  padding: 10px 98px 10px 97px;
}

.u-section-4 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -68px auto 0 627px;
  padding: 9px 98px 11px 97px;
}

.u-section-4 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 53px auto 0 355px;
  padding: 10px 98px 10px 97px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 739px;
  }

  .u-section-4 .u-image-1 {
    width: 529px;
    height: 214px;
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.6875rem;
    width: 409px;
    margin-top: -289px;
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 124px;
    margin-right: 283px;
    margin-left: 234px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 438px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 438px;
  }

  .u-section-4 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 438px;
  }

  .u-section-4 .u-btn-8 {
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 402px;
    height: 163px;
    margin-top: -127px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 402px;
    margin-top: -25px;
    margin-right: 300px;
    margin-left: 265px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 156px;
    margin-left: 19px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 223px;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 223px;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 223px;
  }

  .u-section-4 .u-btn-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -63px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -89px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 188px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 63px;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 63px;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 25px;
    padding-right: 75px;
  }

  .u-section-4 .u-image-1 {
    width: 330px;
    height: 134px;
    margin-top: 40px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 330px;
    margin-top: -163px;
    margin-right: 200px;
    margin-left: 165px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 220px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-left: 0;
  }
}.u-section-5 {
  min-height: 557px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-image-1 {
  min-height: 556px;
  background-image: url("images/sky_d.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-5 .u-shape-1 {
  width: 270px;
  height: 270px;
  background-image: none;
  margin: 23px 52px 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(41,45,51,0.15);
  font-weight: 700;
  margin: -224px 110px 0 -246px;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 13px 52px 0 -52px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 789px;
  }

  .u-section-5 .u-image-1 {
    min-height: 673px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -55px;
    margin-right: auto;
    margin-left: -11px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -61px;
    margin-right: 0;
    margin-left: -182px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 445px;
  }

  .u-section-5 .u-image-1 {
    min-height: 787px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 787px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -62px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -54px;
    margin-left: -144px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1008px;
  }

  .u-section-5 .u-image-1 {
    min-height: 718px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 672px;
  }

  .u-section-5 .u-image-1 {
    min-height: 468px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -120px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 911px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  text-transform: none;
  font-weight: 700;
  margin: 38px 0 0 30px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 -11px 0 11px;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 18px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-6 .u-form-1 {
  height: 348px;
  margin: 20px 0 0;
}

.u-section-6 .u-form-group-1 {
  width: 100%;
}

.u-section-6 .u-form-group-2 {
  width: 100%;
}

.u-section-6 .u-form-group-3 {
  width: 100%;
}

.u-section-6 .u-form-group-4 {
  width: 100%;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  border-style: none;
  letter-spacing: 0px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  min-height: 638px;
  background-image: url("images/pexels-photo-5218235.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-shape-1 {
  width: 521px;
  height: 602px;
  margin: 6px -30px -30px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 526px;
  }

  .u-section-6 .u-shape-1 {
    width: 394px;
    height: 228px;
    margin-top: -748px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 403px;
  }

  .u-section-6 .u-shape-1 {
    width: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-right: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 625px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 394px;
  }
}